.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}
.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  gap: 1rem;
  color: white;
  margin-bottom: -5px;
}

.f-content>p{
  color: var(--orange);
}

.f-icons {
  display: flex;
  margin-bottom: -15px;
}
.f-icons>a{
  transform: scale(0.63);
  width: 50px;
}
.f-icons>a:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 480px){
  .f-content{
    transform: scale(.5);
  }
}
