/* .footer {
  display: flex;
  align-items: center;
  margin: 0 -3.5rem;
  /*position: relative;
} */
.f-content {
  
  top: 82%; 
  margin-left: -3.5rem; 
  background-color:orange;
  padding-top : 15px; 
  position: absolute;
  padding-bottom : 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  color: white;
}

.f-content>p{
  color: var(--orange);
}

.f-icons {
  display: flex;
  margin-bottom: -15px;
}
.f-icons>a{
  transform: scale(0.63);
  width: 50px;
}
.f-icons>a:hover{
  transform: scale(1.1);
}





@media screen and (max-width:1024px){
  .f-content{
    margin-left:3rem;
    width:20rem;
  }
  .f-icons{
    margin-left:-3rem;

  }
  span{
    font-size:1rem;
  }
  .fleche{
    margin-right:19rem;
    transition: 5s ease;
  }
}



@media screen and (max-width: 680px){
  .f-content{
    margin-left:0;
  }
  .fleche{
    margin-right:25rem;
  }
  
  .f-content{
    transform: scale(.7);
  }
}
